{% extends 'layout.html' %}

{% block sub_header %}
    <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
          <h1 class="display-4 font-italic">Um Blog para Portifólio</h1>
          <p class="lead my-3">Um estudo de Python, Django para a criação de um Blog com o intuito em se fazer um Portifólio.</p>
          <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue tentando...</a></p>
        </div>
      </div>

      <div class="row mb-2">
        <div class="col-md-6">
          <div class="card flex-md-row mb-4 shadow-sm h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
              <strong class="d-inline-block mb-2 text-primary">Python</strong>
              <h3 class="mb-0">
                <a class="text-dark" href="#">Certificados</a>
              </h3>
              <div class="mb-1 text-muted">Mar 21</div>
              <p class="card-text mb-auto">Certificados e crusos completos da linguagem Pyhton.</p>
              <a href="#">Veja Aqui</a>
            </div>

          </div>
        </div>
        <div class="col-md-6">
          <div class="card flex-md-row mb-4 shadow-sm h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
              <strong class="d-inline-block mb-2 text-success">Django</strong>
              <h3 class="mb-0">
                <a class="text-dark" href="#">Projetos</a>
              </h3>
              <div class="mb-1 text-muted">Mar 21</div>
              <p class="card-text mb-auto">Algumas Aplicações Web feitos com o Framework Django.</p>
              <a href="#">Confira aqui.</a>
            </div>

          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block content %}
    <h3 class="pb-3 mb-4 font-italic border-bottom">
            Trabalhos e Estudos Acadêmicos
          </h3>
          {% for post in posts %}
          <div class="blog-post">
            <h2 class="blog-post-title">
              <a href="/posts{{ post.pk }}"> {{ post.title }}</a>
            </h2>
            <p class="blog-post-meta">{{ post.created_at|date:'d, M Y' }} by <a href="#">{{ post.author.get_full_name }}</a></p>

            {{ post.summary|safe }}
          </div><!-- /.blog-post -->
          {% endfor %}





          <nav class="blog-pagination">
            <a class="btn btn-outline-primary" href="#">Mais Antigos</a>
            <a class="btn btn-outline-secondary disabled" href="#">Mais Recentes</a>
          </nav>
{% endblock %}
