<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Django</title>
</head>
<body>

    <h1 style="text-align: center;">Olá Mundo!</h1>
    <h1 style="text-align: center;">Hello World!</h1>
    <h1>Produtos</h1>

    <ul>
        {% for produto in produtos %}
            <li>{{ produto.nome }}</li>
            <br>
        {% endfor %}
    </ul>

    <h2><strong>Produto Encontrado.</strong></h2>
    <p>{{ produto }}</p>
    <br>
    <br>
    <p>Aplicativos web feitos com Django geralmente
        agrupam o código que manipula cada uma dessas
        etapas em arquivos separados:<strong> Request > urls > view > model > response</strong></p>
    <h4></h4>

</body>
</html>